@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Khai Web API</h1>
    <p>Discover and search your favorite YouTube videos with ease. Our platform integrates with YouTube’s API to bring you the latest and most relevant content based on your search query. Just type in your keywords and explore videos effortlessly.</p>
</div>
